miscellaneous*
/neat
/experiment_*
/G*
/*.out
/obj
/bin
/tmp/
.#*
/gold*/
/src/util/std.h.gch
.vscode
callgrind.*
__pycache*
*.png
*.pdf
slurm*
folder_josu*
experimentation_res*
fittest_*
*.zip
*.mp4
all_controllers/
copy_files_to_*
connet_hip.sh
test_*/
tmp_conf_file.ini
main.out
tmp_*.controller
detailed_response.txt
.RData
.Rhistory
venv
old
other_src/TSP-feature-extract-20120212/requiredMCRProducts.txt
other_src/TSP-feature-extract-20120212/tspfeat2.asv
other_src/TSP-feature-extract-20120212/tspfeat2.exe
other_src/TSP-feature-extract-20120212/unresolvedSymbols.txt
other_src/TSP-feature-extract-20120212/mccExcludedFiles.log
other_src/TSP-feature-extract-20120212/includedSupportPackages.txt
other_src/TSP-feature-extract-20120212/tmp/*
!other_src/TSP-feature-extract-20120212/tmp/.gitkeep
other_src/TSP-feature-extract-20120212/mccExcludedFiles.log



other_src/InstanceSpace/**/*.asv
other_src/InstanceSpace/**/*.zip
other_src/InstanceSpace/**/*.png
other_src/InstanceSpace/**/*.pdf
other_src/InstanceSpace/**/*.mat
other_src/InstanceSpace/**/*.db
other_src/InstanceSpace/**/*.csv
other_src/InstanceSpace/**/*.json
other_src/InstanceSpace/old_versions/*.*
other_src/InstanceSpace/old_versions

!other_src/InstanceSpace/trial/metadata.csv
!other_src/InstanceSpace/trial_continuous12/metadata.csv
!other_src/InstanceSpace/trial_rokkonen/metadata.csv
!other_src/InstanceSpace/trial_tsp/metadata.csv


!other_src/InstanceSpace/trial_tsp/coordinates.csv
!other_src/InstanceSpace/trial_continuous12/coordinates.csv
!other_src/InstanceSpace/trial_rokkonen/coordinates.csv

!other_src/InstanceSpace/trial_tsp/options.json
!other_src/InstanceSpace/trial_continuous12/options.json
!other_src/InstanceSpace/trial_rokkonen/options.json
