miscellaneous*
/neat
/experiment_*
/G*
/*.out
/obj
/bin
/tmp/
.#*
/gold*/
/src/util/std.h.gch
.vscode
callgrind.*
__pycache*
*.png
*.pdf
slurm*
folder_josu*
experimentation_res*
fittest_*
*.zip
*.mp4
all_controllers/
copy_files_to_*
connet_hip.sh
test_*/
tmp_conf_file.ini